        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@300;400&family=Work+Sans:wght@500;600;700;800;900&display=swap');
        /* font family*/
        
        * {
            font-family: 'Open Sans', sans-serif;
            font-family: 'Poppins', sans-serif;
            font-family: 'Work Sans', sans-serif;
            margin: 0%;
            padding: 0%;
        }
        
        header {
            background: rgba(255, 144, 14, 0.10);
            padding: 50px 240px;
        }
        
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .nav-title {
            color: #131313;
            text-align: center;
            font-size: 2.8rem;
            font-weight: 700;
        }
        
        nav>ul {
            display: flex;
        }
        
        nav li {
            list-style: none;
            margin-right: 30px;
            color: #424242;
            text-align: center;
            font-size: 1rem;
            font-weight: 500;
        }
        /* .banner {
        text-align: center;
    } */
        
        .banner-title {
            color: #131313;
            text-align: center;
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 20px;
        }
        
        .banner-p {
            color: #727272;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 20px;
        }
        
        .btn {
            width: 180px;
            height: 64px;
            border-radius: 8px;
            background: #FF900E;
            border-style: none;
            margin-bottom: 20px;
            color: white;
            font-size: 1.25rem;
            padding: 20px 25px;
            cursor: pointer;
        }
        
        .banner-contain {
            max-width: 800px;
            text-align: center;
            margin: 0 auto;
            margin-top: 150px;
        }
        
        .img {
            width: 100%
        }
        
        main {
            margin: 0px 300px;
        }
        
        .feature {
            display: flex;
            align-items: center;
        }
        
        .feature-image {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }
        
        .feature-text {
            margin-left: 30px;
        }
        
        .feature-title {
            width: 300px;
            color: #727272;
            font-size: 45px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        
        .feature-p {
            color: #727272;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        
        .fact-container {
            display: flex;
            justify-content: space-around;
        }
        /* some fact section */
        
        .fact {
            margin-top: 100px;
        }
        
        .fact-title {
            color: #131313;
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 20px;
            margin-top: 20px;
            width: 400px;
        }
        
        .fact-p {
            color: #727272;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 70px;
        }
        
        .card {
            border-radius: 8px;
            border: 1px solid #FF900E;
            text-align: center;
            padding: 30px;
        }
        
        .card-title {
            color: #424242;
            font-size: 45px;
            font-weight: 600;
        }
        
        .card-p {
            color: #727272;
            font-size: 20px;
            font-weight: 600;
        }
        
        .sponsors {
            margin-top: 100px;
        }
        
        .sponser-text {
            text-align: center;
        }
        
        .sp-title {
            color: #131313;
            font-size: 45px;
            font-weight: 700;
        }
        
        .sp-p {
            color: #727272;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }
        
        .sponser-logo {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
        }
        /* mobile device */
        
        @media screen and (max-width: 576px) {
            header {
                padding: 0px;
            }
            nav {
                flex-direction: column;
            }
            .feature {
                flex-direction: column;
            }
            .feature-image {
                grid-template-columns: 1fr;
            }
            main {
                margin: 0px;
            }
            .fact-container {
                flex-direction: column;
                row-gap: 10px;
            }
            .fact {
                margin-left: 20px;
                margin-right: 20px;
            }
            .sponser-logo {
                flex-direction: column;
            }
        }
        /* tablet */
        
        @media screen and (min-width:576px) and (max-width: 960px) {
            header {
                padding: 50px;
            }
            nav {
                flex-direction: column;
            }
            .feature {
                flex-direction: column;
            }
            main {
                margin: 0px;
            }
            main {
                margin: 0px;
            }
            .fact-container {
                flex-direction: column;
                row-gap: 10px;
            }
            .fact {
                margin-left: 20px;
                margin-right: 20px;
            }
            .logo {
                width: 50px;
            }
        }